<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/javascripts/jquery-1.10.1.min.js"></script>
      <script src="/javascripts/sweetalert.min.js"></script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Book Tracking App</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      {{#if users}}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="/{{user}}/profile/{{sid}}">Profile</a></li>
                                  <li><a href="/log-out">Log Out</a></li>
                              </ul>
                          </li>

                      {{else}}
                          <li><a href="/login">Login</a></li>
                      {{/if}}
                      <li><a href="/requirement/DSD/{{user}}">DSD</a></li>
                      <li><a href="/requirement/RSD/{{user}}">RSD</a></li>
                  </ul>
              </div>
          </div>
  </nav>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>
